<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flask 프로젝트</title>
</head>
<body>
    <h1>Welcom!</h1>
    <a href = "/dinner">저녁 메뉴 추천받기</a>
    <a href = "/isitchristmas">오늘은 크리스마스?</a>
    <img src = "https://s-i.huffpost.com/gen/2961236/thumbs/o-TURBULENCE-570.jpg">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JRdcPhDkNYw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</body>
</html>